<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.imt.fr/bertin/dala/project/Browser"
			class = "fr.imt.bertin.dala.project.browser.BrowserPackage"
			genModel = "model/generated/Browser.genmodel" />
	</extension>
</plugin>
